<IfModule mod_expires.c>
	<FilesMatch "(?i)^.*\.(ico|flv|jpg|jpeg|png|gif|js|css|stl|svg|svgz)$">
		ExpiresActive On
		ExpiresDefault A2592000
	</FilesMatch>
</IfModule>
<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
</IfModule>
